.navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
}

.navbar .logo {
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
    animation: heartbeat 2s ease-in-out infinite both;
}




